body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.timeline__general--border{
    border-right: 1px solid rgb(230, 236, 240); 
    border-left: 1px solid rgb(230, 236, 240); 
}
.timeline__post{
    width: 100%;
    height: 113px;
    border-bottom: 10px solid #E6ECF0;
}
.timeline__post--inner{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    width: 100%;
    height: 100%;
}
.timeline__img-wrapper{
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
}
.timeline__img{
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.timeline__tweet--wrapper{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(230, 236, 240);
}
.timeline__tweet--img{
    width: 49px;
    height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}
.timeline__tweet-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
}
.timeline__tweet-details{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 19px;
}
.tweet__user--styles{
    color: #14171A;
    font-size: 15px;
    margin: 0;
    margin-right: 5px;
}
.tweet__text--styles{
    font-size: 15px;
    color: #657786;
    margin: 0;
    font-weight: 400;
    margin-right: 5px;
}
.tweet__settings{
    margin-right: 15px;
}
.tweet__text-content--styles{
    font-size: 15px;
    padding-top: 3px;
    color: #14171A;
    font-weight: 400;
    margin: 0;
}
.tweet__bottom-bar{
    margin-top: 15px;
}
a{
    color: #0060B6;
    text-decoration: none;
}
a:hover{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
.mr-auto{
    margin-right: auto;
}
.splashtag{
    color: #1B95E0;
}
.splashtag.splashtag-LoveWins{
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.splashtag.splashtag-ShareHope{
    color: red;
    filter: brightness(300%);
}
.splashtag.splashtag-LetItGo{ 
    color: rgba(34,82,136) ;
}